.grid-conocimiento{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
}
.conocimiento-titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.conocimiento-titulo h2{
    font-size: 3rem;
    font-weight: 700;
    margin: 1rem;
}
.conocimiento-titulo p{
    font-size: 1.8rem;
    font-weight: 400;
    margin: 1rem;
}
.conocimiento-img{
    display: flex;
    flex-direction: column;
}
.conocimiento-img img{
    width: 10rem;
    height: 10rem;
    margin: 1rem;
}
.conocimiento-img img:hover{
    transform: scale(1.5);
    transition: all 0.7s ease;
}
