.grid-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f1e1e;
    color: #fff;
}
.grid-footer>div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid-footer>div p, .grid-footer>div>i{
    margin: 0 2px;
    font-size: 2rem;
}
.grid-footer>ul{
    display: flex;
    justify-content: center;
    list-style: none;
    width: 25rem;
}
.grid-footer>ul li{
    font-size: 3rem;
    margin: 0 2rem;
}
.grid-footer>ul li a{
    color: #fff;
    text-decoration: none;
}
.grid-footer>ul li:hover{
    transform: scale(1.5);
    transition: all 0.5s ease;
}
.grid-footer>ul li a:hover{
    color: rgb(190, 13, 13);
}