.grid-formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}
.formulario-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 60rem;
    padding: 3rem 5rem;
    margin: 2rem 0;
    border-radius: 5rem;
    background-color: #1f1e1e;
}
.formulario-form label{
    font-size: 2rem;
    color: beige;
    margin-bottom: 1rem;
}
.formulario-form input{
    height: 3rem;
    font-size: 1.5rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
}
.formulario-form textarea{
    height: 10rem;
    font-size: 1.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    resize: none;
}
.formulario-form button{
    width: 15rem;
    height: 4rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    align-self: center;
}
.formulario-form button:hover{
    background-color: #fff;
    color: #000;
    transition: all 0.5s ease;
}