.grid-formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}
.formulario-form{
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: 2rem 0;
    padding: 5rem 25rem;
    border-radius: 5rem;
    /* background-color: antiquewhite; */
}
.formulario-form label{
    font-size: 2rem;
    color: #000;
    margin-bottom: 1rem;
}
.formulario-form input{
    width: 100%;
    height: 3rem;
    font-size: 1.5rem;
    padding: 0 1rem;
    margin-bottom: 1rem;
}
.formulario-form textarea{
    width: 100%;
    height: 10rem;
    font-size: 1.5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    resize: none;
}
.formulario-form button{
    width: 15rem;
    height: 4rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    align-self: center;
}