.grid-container{
    display: grid;
    grid-template:7vh repeat(5,1fr) 7vh / 1fr;
    grid-template-areas: "grid-header"
    "grid-presentacion"
    "grid-infoGeneral"
    "grid-conocimiento"
    "grid-proyecto"
    "grid-formulario"
    "grid-footer";
    height: 100vh;
    width: 100%;
}
.grid-header{
    grid-area: grid-header;
    background-color: darksalmon;
}
.grid-presentacion{
    grid-area: grid-presentacion;
}
.grid-infoGeneral{
    grid-area: grid-infoGeneral;
}
.grid-conocimiento{
    grid-area: grid-conocimiento;
}
.grid-proyecto{
    grid-area: grid-proyecto;
}
.grid-formulario{
    grid-area: grid-formulario;
}
.grid-footer{
    grid-area: grid-footer;
}