.grid-presentacion{
    display: flex;
    justify-content: space-around;
    /* background-color: aquamarine; */
    /* height: calc(100vh - 7rem); */
    height: 100vh;
    /* background: url() center/cover; */
}
.presentacion-titulo{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.presentacion-titulo h1{
    font-size: 4rem;
    color: #000;
    margin-bottom: 2rem;
}
.presentacion-titulo p{
    font-size: 2rem;
    color: #000;
    text-align: center;
}
.presentacion-img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../../imgs/icons8-empire-50.svg) no-repeat center/cover;
}
.presentacion-img img{
    height: 30rem;
    width: 30rem;
    margin: 15rem 0;
    border: 5px solid #000;
    border-radius: 50%;
}